:root {
  --main-color: #034667;

}

*{
  margin: 0;
  padding: 0;
}

/*utilities*/
.continue {
  background: #006495;
  box-shadow: 3px 5px 16px rgba(0, 100, 149, 0.24);
  border-radius: 16px;
  height: 56px;
  width: 172px;
  color: #fff;
}

.previous{
  background: #E5F4FC;
  border: 1px solid #006495;
  border-radius: 16px;
  height: 56px;
  width: 162px;
  color: #034667;
}

.title1 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  padding: 10px;
  color: #006495;
}

/*header*/
#h-div1 {
  background-color: var(--main-color);
}

/*home section*/
#section1 {
  min-height: 1000px;
  max-width: auto;
  background: url("../img/img1.jpg") no-repeat center center ;
  background-size: cover;
}

.tx1{
  text-shadow: 6px 10px 4px rgba(0, 0, 0, 0.12);
  padding-top: 300px;
}

.box1{
  background: #F49700;
  box-shadow: 3px 5px 16px rgba(219, 138, 7, 0.25);
  border-radius: 12px
}

/*cards section*/
#section2 {
  background: skyblue;
  padding: 50px;
  max-width: auto;
  display: none;
}

#section2 .card1 {
  background-color: #fff;
  box-shadow: 5px 12px 45px rgba(0, 100, 149, 0.18);
  border-radius: 16px;
  width: 360px;
  height: 430px;
}

#section2 .card1 .title {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  color: var(--main-color);
}

#section2 .card1 li {
  list-style: circle;

}

/*first form section*/
#section3 {
  max-width: auto;
  display: none;
}

/*mr. & miss.*/
.img1 {
  background: url("../img/shop-assistant-talking-to-young-couple-shopping-ki-2022-01-25-02-31-19-utc\ 1.png") no-repeat center center ;
  background-size: cover;
}

#section3 #formM #deletecarde {
  display: none;
}

.inp1 {
 background: #034667;
 opacity: 0.2;
 border-radius: 50%;
 padding: 10px 10px;
 margin: 0px 5px;
}

.inp2 {
background-color: #006495;
border-radius: 50%;
padding: 3px 6px;
margin: 0px 5px;
color: #fff;
text-align: center;
}

.inp3{
  background: #006495;
  border-radius: 50%;
  padding: 10px 10px;
  margin: 0px 5px;
}

/*corporate*/
#section3 #formC {
display: none;
}

.img2{
  background: url("../img/successful-shopping-in-the-shopping-mall-2021-08-27-09-17-52-utc\ 1.jpg") no-repeat center center;
  background-size: cover;
}

.corporateIBAN {
  display: none;
}

/*association*/
#formA{
  display: none;
}

.img3 {
  background: url("../img/two-elegant-men-coming-to-fashion-boutique-on-shop-2021-08-29-01-35-41-utc\ 1.png")
}

/*step 2*/
#section4 {
  display: none;
}

#addAddress{
  display: none;
}

#secondcard {
  display: none;
}

/*step 3*/
#section5 {
  background-color: #E5E5E5;
  display: none;
}

.card2 {
background-color: #fff;
border-radius: 16px;
}

.box{
  background: #FFFFFF;
  box-shadow: 5px 12px 45px rgba(0, 100, 149, 0.18);
  border-radius: 16px;
  height: 163px;
  max-width: 350px;
}

#seccardsummary {
  display: none;
}

.coupon{
  display: none;
}

#multicards{
  display: none;
}

/*footer*/
footer .f1 {
  background-color: var(--main-color);
}

footer .f2{
  background-color: #033750;
}

